<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>754653310732-8c9mmaebb5ovme4ooarl93d1uakfcqiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.754653310732-8c9mmaebb5ovme4ooarl93d1uakfcqiu</string>
	<key>API_KEY</key>
	<string>AIzaSyDppyMn5WF93R0bDmqcU5BfkGyoq8teRlU</string>
	<key>GCM_SENDER_ID</key>
	<string>754653310732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterGetxBaseProject</string>
	<key>PROJECT_ID</key>
	<string>flutter-getx-base-project</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-getx-base-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:754653310732:ios:becae31c543c040b63a329</string>
</dict>
</plist>